# Virtual Environment
agentEnv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Local datasets (don't upload)
*.csv